/* CSS declarations go here */
.pageHead{
    top: -1px;
    width: 84% !important;
    margin-left: 160px !important;
    height:130px !important;
    background:#3e4eb8 !important;
    position: absolute;
}

.vertMenu{
    width: 273px !important;
    height: 800px !important;
    position: absolute;
    top: 129px !important;
    left: 160px;
    background:#fcfcfd;
    border-color:#f2f2f4 !important;
}

.heading{
    background: #fafafc;
    height: 131px;
    border-color:#f2f2f4 !important;
}

.myTasks{
    height:70px !important;
    border-color:#f2f2f4 !important;
}

.ul{
    margin-top: -45px;
    margin-left: 280px;
}

.avatar{
    width: 96px;
    height: 121px;
    margin-left: 20px;
    margin-top: 11px;
}

.rightDiv{
    float: right;
    top: -12px;
    width: 80px;
    margin-top: 127px;
    margin-right: 144px;
    height: 804px !important;
    border-color:#f2f2f4 !important;
}

.friendAvatar{
    width: 50px;
    height: 50px;
    margin-bottom: 22px;
    margin-top: 7px;
}